.place__title {
    max-width: 460px;
    margin: 0;
    padding: 0;
    font-style: normal;
    font-size: 72px;
    line-height: 1.06;
    font-weight: bold;
    text-align: left;
    color: #FFFFFF;

    grid-area: title;
}