.page {
  margin: 0 auto;
  padding: 28px 0 24px;
  max-width: 1280px;
  background: #2A2C2F;
  font-family: 'Inter';
}

@font-face {
    font-family: "Inter Regular";
    src: url("../../fonts/Inter-Regular.woff2") format("woff2"),
         url("../../fonts/Inter-Regular.woff") format("woff");
  }

@font-face {
    font-family: "Inter Bold";
    src: url("../../fonts/Inter-Bold.woff2") format("woff2"),
         url("../../fonts/Inter-Bold.woff") format("woff");
  }

@font-face {
    font-family: "Inter Black";
    src: url("../../fonts/Inter-Black.woff2") format("woff2"),
         url("../../fonts/Inter-Black.woff") format("woff");
  }

  @media(max-width: 600px) {
    .page {
      padding: 16px 0 24px;
        }
}

