.intro__text {
    max-width: 690px;
    margin: 40px 0 0;
    font-style: normal;
    font-size: 16px;
    line-height: 1.63;
    font-weight: normal;
    color: #FFFFFF;
}

@media(min-width: 768px) and (max-width: 980px) {
    .intro__text {
        max-width: 615px;
    }
}

@media(min-width: 320px) and (max-width: 425px) {
    .intro__text {
        max-width: 245px;
    }
}