.footer__list-link {
    margin: 0 18px 0 0;
    padding: 0;
}

.footer__list-link:last-of-type {
    margin: 0;
}

@media(max-width: 660px) {
    .footer__list-link {
        margin: 0 0 32px;
    }
}