.lead__subtitle {
    font-style: normal;
    font-weight: normal;
    margin: 32px auto 64px;
    max-width: 54%;
    font-size: 30px;
    line-height: 36px;
    text-align: center;
    color: #FFFFFF;
}