.cover {
    margin: 92px auto 92px;
    padding: 0;
    max-width: 1184px;
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
}

@media(min-width: 1024px) and (max-width: 1279px) {
    .cover {
        max-width: 1024px;
    }
}

@media(min-width: 601px) and (max-width: 980px) {
    .cover {
        max-width: 768px;
        margin: 90px auto 88px;
    }
}

@media(max-width: 600px) {
    .cover {
        max-width: 320px;
        margin: 66px auto 64px;
    }
}